# mongo
MONGO_INITDB_ROOT_USERNAME = "admin"
MONGO_INITDB_ROOT_PASSWORD = "test"
MONGO_INITDB_USERNAME = "admin"
MONGO_INITDB_PASSWORD = "test"
MONGO_INITDB_DATABASE = "chat"
MONGO_ROOT_USER = "root"

# go app
APP_PORT = 8090